body {
    margin: 0;
    font-family: "Segoe UI", Arial, sans-serif;
    background: #f4f6f9;
}

/* NAVBAR */
.navbar {
    height: 70px;
    background: linear-gradient(90deg,#6a5af9,#4ecdc4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    color: white;
}

.navbar h1 {
    font-weight: 600;
}

.user-info {
    background: rgba(255,255,255,0.2);
    padding: 8px 16px;
    border-radius: 20px;
}

/* MAIN DASHBOARD */
.dashboard {
    display: flex;
    gap: 40px;
    padding: 40px;
}

/* NOTES PANEL */
.notes-panel {
    width: 350px;
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.08);
}

.note-form {
    display: flex;
    margin-top: 15px;
}

.note-form input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
}

.note-form button {
    margin-left: 10px;
    padding: 10px 16px;
    border: none;
    background: #6a5af9;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

.notes-box {
    height: 250px;
    overflow-y: auto;
    background: #eef2f7;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.note-card {
    background: white;
    padding: 12px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.08);
    transition: 0.2s;
}

.note-card:hover {
    transform: translateY(-2px);
}


/* MEDIA PANEL */
.media-panel {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.card {
    width: 150px;
    height: 150px;
    border-radius: 16px;
    background: linear-gradient(145deg,#6a5af9,#ffd166);
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 6px 20px rgba(0,0,0,0.15);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-6px);
}

/* FOOTER */
.footer {
    height: 70px;
    background: #5aa9c9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    color: white;
}

.logout,
.delete {
    border: none;
    padding: 10px 18px;
    border-radius: 20px;
    margin-left: 10px;
    cursor: pointer;
}

.logout {
    background: #914dff;
}

.delete {
    background: #531fff;
}
.note-card {
    position: relative;
    background: white;
    padding: 12px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}

.delete-icon {
    position: absolute;
    top: 8px;
    right: 10px;
    font-size: 14px;
    cursor: pointer;
    color: #999;
    transition: 0.2s;
}

.delete-icon:hover {
    color: red;
}
